modules = ["python-3.11", "dart-3.8"]
[nix]
channel = "stable-25_05"
packages = ["flutter", "libarchive", "p7zip", "unzip"]

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37911
externalPort = 3000
